# <font color=blue>Import

In [1]:
import pandas as pd

<br>  

# <font color=blue>Create dataframe with start time and end time of jobs

In [2]:
df1 = {'job'       : [           'job_2',            'job_1'],
       'start_time': ['2022-11-06 09:08', '2022-11-06 09:00'],
       'end_time'  : ['2022-11-06 09:20', '2022-11-06 09:12']}

In [3]:
df1 = pd.DataFrame(df1)

In [4]:
df1['start_time'] = pd.to_datetime(df1['start_time'])

In [5]:
df1['end_time'] = pd.to_datetime(df1['end_time'])

In [6]:
df1

     job          start_time            end_time
0  job_2 2022-11-06 09:08:00 2022-11-06 09:20:00
1  job_1 2022-11-06 09:00:00 2022-11-06 09:12:00

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job         2 non-null      object
 1   start_time  2 non-null      datetime64[ns]
 2   end_time    2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 176.0+ bytes

<br>  

# <font color=blue>Sort by start time in chronological order  
<font color=blue>Must reset index after sorting

In [8]:
df1.sort_values(by = ['start_time'], inplace = True)

In [9]:
df1.reset_index(inplace = True, drop = True)

<br>  

# <font color=blue>Start time and end time of current job overlaps with start time and end time of next job

In [10]:
df1

     job          start_time            end_time
0  job_1 2022-11-06 09:00:00 2022-11-06 09:12:00
1  job_2 2022-11-06 09:08:00 2022-11-06 09:20:00

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job         2 non-null      object
 1   start_time  2 non-null      datetime64[ns]
 2   end_time    2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 176.0+ bytes

<br>  

# <font color=blue>If start time of next job is between start time and end time of current job, change end time of current job to start time of next job to eliminate overlap

In [12]:
# ========== use '\' to break long line of code in one line to two or more lines ==========

j = len(df1) - 1
for i in range(len(df1)):
    if i != j:
        if (df1.loc[i, 'start_time'] < df1.loc[i + 1, 'start_time']) and \
           (df1.loc[i + 1, 'start_time'] < df1.loc[i, 'end_time']):
            df1.loc[i, 'end_time'] = df1.loc[i + 1, 'start_time']

<br>  

# <font color=blue>Now start time and end time of current job does not overlap with start time and end time of next job

In [13]:
df1

     job          start_time            end_time
0  job_1 2022-11-06 09:00:00 2022-11-06 09:08:00
1  job_2 2022-11-06 09:08:00 2022-11-06 09:20:00

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job         2 non-null      object
 1   start_time  2 non-null      datetime64[ns]
 2   end_time    2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 176.0+ bytes