# **Step 3**

<br>

## **Establish connection to database**

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('mysqlite_database.db')

<br>

## **Create table and fields in database**

In [3]:
query_string = """
    CREATE TABLE my_table (
        transaction_id       integer   primary key,
        transaction_date     text,
        transaction_amount   real
    )
    """

In [4]:
conn.execute(query_string)

<img src = 'step_03a.PNG' width='1000'>

<br>

## **Insert data into table and fields**

In [6]:
query_string = """
    INSERT INTO my_table
        VALUES
            (1, '2023-01-01', -100.5),
            (2, '2023-02-01', -30.0),
            (3, '2023-02-02', -70.2),
            (4, '2023-02-03', 100.6),
            (5, '2023-05-01', -30.1),
            (6, '2023-05-02', -30.3),
            (7, '2023-05-03', -40.9),
            (8, '2023-05-04', 500.4)
    """

In [7]:
conn.execute(query_string)

In [8]:
conn.commit()

<img src = 'step_03b.PNG' width='450'>

<br>

## **Insert new data and update existing data**

In [10]:
# Note: Instead of 'INSERT INTO', use 'INSERT OR REPLACE INTO'

query_string = """
    INSERT OR REPLACE INTO my_table
        VALUES
            (5, '2023-05-04', 1000.25),
            (9, '2023-06-01', 5000.35)
    """

In [11]:
conn.execute(query_string)

In [12]:
conn.commit()

<img src = 'step_03c.PNG' width='450'>

<br>

## **Close connection to database**

In [14]:
conn.close()