# <font color=blue>Import

In [1]:
import pandas as pd

<br>  

# <font color=blue>Create dataframe with start time and end time of jobs

In [2]:
df1 = {'job'       : [           'job_1',            'job_3',            'job_2',            'job_4'],
       'start_time': ['2022-11-06 09:00', '2022-11-06 09:23', '2022-11-06 09:10', '2022-11-06 10:00'],
       'end_time'  : ['2022-11-06 09:15', '2022-11-06 09:40', '2022-11-06 09:25', '2022-11-06 11:00']}

In [3]:
df1 = pd.DataFrame(df1)

In [4]:
df1

     job        start_time          end_time
0  job_1  2022-11-06 09:00  2022-11-06 09:15
1  job_3  2022-11-06 09:23  2022-11-06 09:40
2  job_2  2022-11-06 09:10  2022-11-06 09:25
3  job_4  2022-11-06 10:00  2022-11-06 11:00

<br>  

# <font color=blue>Error in calculating duration of jobs

In [5]:
df1['duration'] = (df1['end_to'] - df1['start_time']).dt.total_seconds() / 60

KeyError: 'end_to'

<br>  

# <font color=blue>Reason: Start time and end time of jobs are string and not datetime

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job         4 non-null      object
 1   start_time  4 non-null      object
 2   end_time    4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

<br>  

# <font color=blue>Convert start time and end time of jobs to datetime

In [7]:
df1['start_time'] = pd.to_datetime(df1['start_time'])

In [8]:
df1['end_time'] = pd.to_datetime(df1['end_time'])

In [9]:
df1

     job          start_time            end_time
0  job_1 2022-11-06 09:00:00 2022-11-06 09:15:00
1  job_3 2022-11-06 09:23:00 2022-11-06 09:40:00
2  job_2 2022-11-06 09:10:00 2022-11-06 09:25:00
3  job_4 2022-11-06 10:00:00 2022-11-06 11:00:00

<br>  

# <font color=blue>Now, start time and end time of jobs are datetime

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job         4 non-null      object
 1   start_time  4 non-null      datetime64[ns]
 2   end_time    4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 224.0+ bytes

<br>  

# <font color=blue>No error in calculating duration of jobs

In [11]:
df1['duration_min'] = (df1['end_time'] - df1['start_time']).dt.total_seconds() / 60

In [12]:
df1

     job          start_time            end_time  duration_min
0  job_1 2022-11-06 09:00:00 2022-11-06 09:15:00          15.0
1  job_3 2022-11-06 09:23:00 2022-11-06 09:40:00          17.0
2  job_2 2022-11-06 09:10:00 2022-11-06 09:25:00          15.0
3  job_4 2022-11-06 10:00:00 2022-11-06 11:00:00          60.0