# <font color=blue>Import

In [1]:
import pandas as pd

<br>  

# <font color=blue>Create dataframe with time in HH:MM

In [2]:
df1 = {'job':  [                 1,                  3,                  2,                  4],
       'from': ['2022-11-06 09:00', '2022-11-06 09:23', '2022-11-06 09:10', '2022-11-06 10:00'],
       'to':   ['2022-11-06 09:15', '2022-11-06 09:40', '2022-11-06 09:25', '2022-11-06 11:00']}

In [3]:
df1 = pd.DataFrame(df1)

In [4]:
df1

   job              from                to
0    1  2022-11-06 09:00  2022-11-06 09:15
1    3  2022-11-06 09:23  2022-11-06 09:40
2    2  2022-11-06 09:10  2022-11-06 09:25
3    4  2022-11-06 10:00  2022-11-06 11:00

<br>  

# <font color=blue>Error encountered in calculating duration between from and to

In [5]:
df1['duration'] = (df1['to'] - df1['from']).dt.total_seconds()/60

TypeError: unsupported operand type(s) for -: 'str' and 'str'

<br>  

# <font color=blue>As can be seen below, columns with time are string and not datetime

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   job     4 non-null      int64
 1   from    4 non-null      object
 2   to      4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

<br>  

# <font color=blue>Convert columns with time to datetime

In [7]:
df1['from'] = pd.to_datetime(df1['from'])

In [8]:
df1['to'] = pd.to_datetime(df1['to'])

In [9]:
df1

   job                from                  to
0    1 2022-11-06 09:00:00 2022-11-06 09:15:00
1    3 2022-11-06 09:23:00 2022-11-06 09:40:00
2    2 2022-11-06 09:10:00 2022-11-06 09:25:00
3    4 2022-11-06 10:00:00 2022-11-06 11:00:00

<br>  

# <font color=blue>No error encountered in calculating duration

In [10]:
df1['duration_min'] = (df1['to'] - df1['from']).dt.total_seconds()/60

In [11]:
df1

   job                from                  to  duration_min
0    1 2022-11-06 09:00:00 2022-11-06 09:15:00          15.0
1    3 2022-11-06 09:23:00 2022-11-06 09:40:00          17.0
2    2 2022-11-06 09:10:00 2022-11-06 09:25:00          15.0
3    4 2022-11-06 10:00:00 2022-11-06 11:00:00          60.0

In [12]:
print('total duration: {} minutes'.format(df1['duration_min'].sum()))

total duration: 107.0 minutes

<br>  

# <font color=blue>As can be seen below, columns with time are now datetime

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job           4 non-null      int64
 1   from          4 non-null      datetime64[ns]
 2   to            4 non-null      datetime64[ns]
 3   duration_min  4 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(1)
memory usage: 256.0 bytes