# <font color=blue>Import

In [1]:
import pandas as pd

<br>  

# <font color=blue>Create dataframe of jobs with start time and end time

In [2]:
df1 = {'job':  [                 2,                  1],
       'from': ['2022-11-06 09:08', '2022-11-06 09:00'],
       'to':   ['2022-11-06 09:20', '2022-11-06 09:12']}

In [3]:
df1 = pd.DataFrame(df1)

In [4]:
df1['from'] = pd.to_datetime(df1['from'])

In [5]:
df1['to'] = pd.to_datetime(df1['to'])

In [6]:
df1

   job                from                  to
0    2 2022-11-06 09:08:00 2022-11-06 09:20:00
1    1 2022-11-06 09:00:00 2022-11-06 09:12:00

<br>  

# <font color=blue>Sort dataframe by start time in chronological order  
### <font color=blue>Must reset index after sorting

In [7]:
df1.sort_values(by = ['from'], inplace = True)

In [8]:
df1.reset_index(inplace = True, drop = True)

In [9]:
df1

   job                from                  to
0    1 2022-11-06 09:00:00 2022-11-06 09:12:00
1    2 2022-11-06 09:08:00 2022-11-06 09:20:00

<br>  

# <font color=blue>If start time of next job is between start time and end time of current job, make end time of current job same as start time of next job to eliminate overlap

In [10]:
j = len(df1) - 1
for i in range(len(df1)):
    if i != j:
        if (df1.loc[i, 'from'] < df1.loc[i + 1, 'from']) and (df1.loc[i + 1, 'from'] < df1.loc[i, 'to']):
            df1.loc[i, 'to'] = df1.loc[i + 1, 'from']

In [11]:
df1

   job                from                  to
0    1 2022-11-06 09:00:00 2022-11-06 09:08:00
1    2 2022-11-06 09:08:00 2022-11-06 09:20:00