<br>  

# <font color=blue>Set up dataframe

In [1]:
import pandas as pd

df = pd.DataFrame(columns=['string',
                           'date_time_1',
                           'date_time_2',
                           'date_time_3',
                           'int_1',
                           'int_2',
                           'float'])

<br>  

# <font color=blue>Change column to string datatype

In [2]:
df['string'] = df['string'].astype(str)

<br>  

# <font color=blue>Change multiple columns (method 1) to datetime datatype

In [3]:
column_list = df.iloc[:, 1:4].columns
df[column_list] = df[column_list].astype('datetime64[ns]')

<br>  

# <font color=blue>Change multiple columns (method 2) to integer datatype

In [4]:
column_list = ['int_1', 'int_2']
df[column_list] = df[column_list].astype(int)

<br>  

# <font color=blue>Change column to float datatype

In [5]:
df['float'] = df['float'].astype(float)

<br>  

# <font color=blue>Confirm change is correct

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   string       0 non-null      object
 1   date_time_1  0 non-null      datetime64[ns]
 2   date_time_2  0 non-null      datetime64[ns]
 3   date_time_3  0 non-null      datetime64[ns]
 4   int_1        0 non-null      int32
 5   int_2        0 non-null      int32
 6   float        0 non-null      float64
dtypes: datetime64[ns](3), float64(1), int32(2), object(1)
memory usage: 0.0+ bytes