# <font color=blue>Import

In [1]:
import pandas as pd

<br>  

# <font color=blue>Create dataframe

In [2]:
df = pd.DataFrame({'col_a': ['a', 'b', 'c', 'd', 'e'],
                   'col_b': [10, 20, 30, 40, 50]})

In [3]:
df

  col_a  col_b
0     a     10
1     b     20
2     c     30
3     d     40
4     e     50

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_a   5 non-null      object
 1   col_b   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

<br>  

# <font color=blue>Create data to insert between index 2 and index 3

In [5]:
df_to_insert = ['c1', 35]

In [6]:
df_to_insert

['c1', 35]

<br>  

# <font color=blue>Create index 2.5 to insert data between index 2 and index 3

In [7]:
df.loc[2.5] = df_to_insert

In [8]:
df

    col_a  col_b
0.0     a     10
1.0     b     20
2.0     c     30
3.0     d     40
4.0     e     50
2.5    c1     35

<br>  

# <font color=blue>Sort to make sure position of index 2.5 is between index 2 and index 3

In [9]:
df.sort_index(inplace = True)

In [10]:
df

    col_a  col_b
0.0     a     10
1.0     b     20
2.0     c     30
2.5    c1     35
3.0     d     40
4.0     e     50

<br>  

# <font color=blue>Reset index so that inserted data in needed order

In [11]:
df.reset_index(inplace = True, drop = True)

In [12]:
df

  col_a  col_b
0     a     10
1     b     20
2     c     30
3    c1     35
4     d     40
5     e     50

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_a   6 non-null      object
 1   col_b   6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes