# <font color=blue>Import

In [1]:
import pandas as pd
from datetime import datetime, timedelta

<br>  

# <font color=blue>Create dataframe with start time and end time cross-over to next day

In [2]:
df = {'job'       : [           'job_1',            'job_2'],
      'start_time': ['2022-11-06 23:30', '2022-11-06 23:30'],
      'end_time'  : ['2022-11-07 00:30', '2022-11-06 23:45']}

df = pd.DataFrame(df)

df['job'] = df['job'].astype(str)

df[['start_time', 'end_time']] = df[['start_time', 'end_time']].astype('datetime64[ns]')

df

     job          start_time            end_time
0  job_1 2022-11-06 23:30:00 2022-11-07 00:30:00
1  job_2 2022-11-06 23:30:00 2022-11-06 23:45:00

<br>  

# <font color=blue>Step 1: Insert new row for end time cross-over to next day

In [3]:
df.loc[0.5, 'job'] = df.loc[0, 'job']

<br>  

# <font color=blue>Step 2: Make start time of new row = start of next day

In [4]:
df.loc[0.5, 'start_time'] = datetime(df.loc[0, 'end_time'].year,
                                     df.loc[0, 'end_time'].month,
                                     df.loc[0, 'end_time'].day,
                                     0, 0, 0)

<br>  

# <font color=blue>Step 3: Make end time of new row = end time of next day

In [5]:
df.loc[0.5, 'end_time'] = df.loc[0, 'end_time']

In [6]:
df

       job          start_time            end_time
0.0  job_1 2022-11-06 23:30:00 2022-11-07 00:30:00
1.0  job_2 2022-11-06 23:30:00 2022-11-06 23:45:00
0.5  job_1 2022-11-07 00:00:00 2022-11-07 00:30:00

<br>  

# <font color=blue>Step 4: Make end time of previous row = end of previous day

In [7]:
df.loc[0, 'end_time'] = datetime(df.loc[0, 'end_time'].year,
                                 df.loc[0, 'end_time'].month,
                                 df.loc[0, 'end_time'].day,
                                 0, 0, 0)

<br>  

# <font color=blue>Overall result

In [8]:
df

       job          start_time            end_time
0.0  job_1 2022-11-06 23:30:00 2022-11-07 00:00:00
1.0  job_2 2022-11-06 23:30:00 2022-11-06 23:45:00
0.5  job_1 2022-11-07 00:00:00 2022-11-07 00:30:00

<br>  

# <font color=blue>Step 5: Sort index

In [9]:
df.sort_index(inplace = True)

In [10]:
df

       job          start_time            end_time
0.0  job_1 2022-11-06 23:30:00 2022-11-07 00:00:00
0.5  job_1 2022-11-07 00:00:00 2022-11-07 00:30:00
1.0  job_2 2022-11-06 23:30:00 2022-11-06 23:45:00

<br>  

# <font color=blue>Step 6: Reset index

In [11]:
df.reset_index(inplace = True, drop = True)

In [12]:
df

     job          start_time            end_time
0  job_1 2022-11-06 23:30:00 2022-11-07 00:00:00
1  job_1 2022-11-07 00:00:00 2022-11-07 00:30:00
2  job_2 2022-11-06 23:30:00 2022-11-06 23:45:00