<br>  

# Step 1: Library

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

<br>  

# Step 2: Read

In [2]:
df = pd.read_csv('input.csv')

<br>  

# Step 3: Display

In [3]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

         col_date col_string col_integer col_float
0        1-Dec-23      day_1           1       NaN
1        2-Dec-23      day_2           2         1
2             NaN          3           e       1.1
3  4 Janaury 2023          4       4.001       1.2
4        5-Dec-23        NaN           5       1.3
5        6-Dec-23      day_6         NaN         f

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False       True
1     False       False        False      False
2      True       False        False      False
3     False       False        False      False
4     False        True        False      False
5     False       False         True      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     5 non-null      object
 1   col_string   5 non-null      object
 2   col_integer  5 non-null      object
 3   col_float    5 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None

<br>  

# Step 4: Convert date column to date

In [4]:
df['col_date'] = pd.to_datetime(df['col_date'], errors='coerce')

In [5]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string col_integer col_float
0 2023-12-01      day_1           1       NaN
1 2023-12-02      day_2           2         1
2        NaT          3           e       1.1
3        NaT          4       4.001       1.2
4 2023-12-05        NaN           5       1.3
5 2023-12-06      day_6         NaN         f

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False       True
1     False       False        False      False
2      True       False        False      False
3      True       False        False      False
4     False        True        False      False
5     False       False         True      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  5 non-null      object
 3   col_float    5 non-null      object
dtypes: datetime64[ns](1), object(3)
memory usage: 320.0+ bytes
None

<br>  

# Step 5: Convert integer and float columns to numeric

In [6]:
df[['col_integer','col_float']] = df[['col_integer','col_float']].apply(pd.to_numeric, errors='coerce')

In [7]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1        1.000        NaN
1 2023-12-02      day_2        2.000        1.0
2        NaT          3          NaN        1.1
3        NaT          4        4.001        1.2
4 2023-12-05        NaN        5.000        1.3
5 2023-12-06      day_6          NaN        NaN

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False       True
1     False       False        False      False
2      True       False         True      False
3      True       False        False      False
4     False        True        False      False
5     False       False         True       True

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  4 non-null      float64
 3   col_float    4 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 320.0+ bytes
None

<br>  

# Step 6: Cannot convert column with float and NaN to integer

In [8]:
df['col_integer'] = df['col_integer'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

<br>  

# Step 7: Fill NaN with 0

In [9]:
df[['col_integer','col_float']] = df[['col_integer','col_float']].fillna(0)

In [10]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1        1.000        0.0
1 2023-12-02      day_2        2.000        1.0
2        NaT          3        0.000        1.1
3        NaT          4        4.001        1.2
4 2023-12-05        NaN        5.000        1.3
5 2023-12-06      day_6        0.000        0.0

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False      False
1     False       False        False      False
2      True       False        False      False
3      True       False        False      False
4     False        True        False      False
5     False       False        False      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  6 non-null      float64
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 320.0+ bytes
None

<br>  

# Step 8: Convert integer column to integer

In [11]:
df['col_integer'] = df['col_integer'].astype(int)

In [12]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1            1        0.0
1 2023-12-02      day_2            2        1.0
2        NaT          3            0        1.1
3        NaT          4            4        1.2
4 2023-12-05        NaN            5        1.3
5 2023-12-06      day_6            0        0.0

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False      False
1     False       False        False      False
2      True       False        False      False
3      True       False        False      False
4     False        True        False      False
5     False       False        False      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  6 non-null      int32
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 296.0+ bytes
None

<br>  

# Step 9: Convert NaN in string column to "no_value"

In [13]:
df['col_string'] = df['col_string'].fillna('no_value')

In [14]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1            1        0.0
1 2023-12-02      day_2            2        1.0
2        NaT          3            0        1.1
3        NaT          4            4        1.2
4 2023-12-05   no_value            5        1.3
5 2023-12-06      day_6            0        0.0

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False      False
1     False       False        False      False
2      True       False        False      False
3      True       False        False      False
4     False       False        False      False
5     False       False        False      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   6 non-null      object
 2   col_integer  6 non-null      int32
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 296.0+ bytes
None

<br>  

# End result

In [15]:
print('-------------------- data frame --------------------')
print()
print(df)
print()
print('-------------------- NaN --------------------')
print()
print(df.isna())
print()
print('-------------------- data type --------------------')
print()
print(df.info())

-------------------- data frame --------------------

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1            1        0.0
1 2023-12-02      day_2            2        1.0
2        NaT          3            0        1.1
3        NaT          4            4        1.2
4 2023-12-05   no_value            5        1.3
5 2023-12-06      day_6            0        0.0

-------------------- NaN --------------------

   col_date  col_string  col_integer  col_float
0     False       False        False      False
1     False       False        False      False
2      True       False        False      False
3      True       False        False      False
4     False       False        False      False
5     False       False        False      False

-------------------- data type --------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   6 non-null      object
 2   col_integer  6 non-null      int32
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 296.0+ bytes
None