In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv('input.csv')

In [3]:
print(df)
print()
print('--------------------------------------------------')
print()
print(df.info())

         col_date col_string col_integer col_float
0        1-Dec-23      day_1           1       NaN
1        2-Dec-23      day_2           2         1
2             NaN          3           e       1.1
3  4 Janaury 2023          4       4.001       1.2
4        5-Dec-23        NaN           5       1.3
5        6-Dec-23      day_6         NaN         f

--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     5 non-null      object
 1   col_string   5 non-null      object
 2   col_integer  5 non-null      object
 3   col_float    5 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None

In [4]:
print(df.isna())

   col_date  col_string  col_integer  col_float
0     False       False        False       True
1     False       False        False      False
2      True       False        False      False
3     False       False        False      False
4     False        True        False      False
5     False       False         True      False

In [5]:
df['col_date'] = pd.to_datetime(df['col_date'], errors='coerce')

In [6]:
df[['col_integer','col_float']] = df[['col_integer','col_float']].apply(pd.to_numeric, errors='coerce', axis=1)

In [7]:
print(df)
print()
print('--------------------------------------------------')
print()
print(df.info())

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1        1.000        NaN
1 2023-12-02      day_2        2.000        1.0
2        NaT          3          NaN        1.1
3        NaT          4        4.001        1.2
4 2023-12-05        NaN        5.000        1.3
5 2023-12-06      day_6          NaN        NaN

--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  4 non-null      float64
 3   col_float    4 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 320.0+ bytes
None

In [8]:
df[['col_integer','col_float']] = df[['col_integer','col_float']].fillna(0)

In [9]:
print(df)
print()
print('--------------------------------------------------')
print()
print(df.info())

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1        1.000        0.0
1 2023-12-02      day_2        2.000        1.0
2        NaT          3        0.000        1.1
3        NaT          4        4.001        1.2
4 2023-12-05        NaN        5.000        1.3
5 2023-12-06      day_6        0.000        0.0

--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  6 non-null      float64
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 320.0+ bytes
None

In [10]:
df['col_integer'] = df['col_integer'].astype(int)

In [11]:
print(df)
print()
print('--------------------------------------------------')
print()
print(df.info())

    col_date col_string  col_integer  col_float
0 2023-12-01      day_1            1        0.0
1 2023-12-02      day_2            2        1.0
2        NaT          3            0        1.1
3        NaT          4            4        1.2
4 2023-12-05        NaN            5        1.3
5 2023-12-06      day_6            0        0.0

--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_date     4 non-null      datetime64[ns]
 1   col_string   5 non-null      object
 2   col_integer  6 non-null      int32
 3   col_float    6 non-null      float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 296.0+ bytes
None